<!-- 
<div class = "row schedule">
	<div class = "small-12 medium-6 columns small-centered text-center">

	<div class="small button-group">
		<a class="button schedule-button-inactive" href="/">Current</a>
		<a class="button schedule-button-active" href="/future-workouts">Future</a>
	</div>

</div> -->

<div class = "row no-padding-special">
	<div class = "small-11 medium-6 columns small-centered workout-index future color1 instance">
		<div class = "small-12 columns text-center">
			<h1 id ="weekly-title">Weekly Schedule </h1>
		</div>
		<% @z = 2 %>
		<% @workouts.each do |workout| %>
				<div class = "color1 future future-day-workout">
					<p class = "date"><strong><%= workout.workout_date.to_formatted_s(:day_of_week) %> </strong></p>
					<h2 class = "title"><%= workout.title  %></h2>
					<% if admin_signed_in? %>
						<p class = "edit-links smaller-text">
							<%= link_to 'Edit', edit_workout_path(workout) %> | 
							<%= link_to 'Destroy', workout, method: :delete, data: { confirm: 'Are you sure?' } %>
						</p>
					<% end%>
				</div>
				
				<!-- Increment color selector until 5 -->
				<% if @z < 5 %> <% @z += 1 %> <% else %> <% @z = 1 %><%end%>

		<% end %>
	</div>
</div>



<!-- 
<div class = "row no-padding-special data-equalizer">
	<ul class="small-block-grid-1 medium-block-grid-3 "





 		<div class = "small-6 columns text-center">
			<%= button_to "Current", root_url, :class => "button round schedule-unchecked tiny", :method => :get %>
		</div>
		<div class = "small-6 columns text-center">
			<%= button_to "Upcoming", "future-workouts", :class => "button round schedule-unchecked tiny", :method => :get %>
		</div>
	</div>









	<%= button_to "Upcoming", workouts_path(:category=>"future"), :class => "button round leaderboard-button tiny"%>
	<br/>
	<%= link_to "Upcoming", workouts_path(:category=>"future") %>
	<%= link_to "Current Workouts", root_url %>

	-->