<ul class="small-block-grid-1 medium-block-grid-3">
	<% @workouts.each do |workout| %>
		<li>
		  <p> <%= link_to 'Workout '+RomanNumerals.to_roman(workout.id), workout%> | <%= workout.created_at.to_formatted_s(:my_long_ordinal) %> </p>
		  <h2><%= workout.title %></h2>
			<% if admin_signed_in? %>
				<p class = "smaller-text">
				  <%= link_to 'Edit', edit_workout_path(workout) %> | 
				  <%= link_to 'Destroy', workout, method: :delete, data: { confirm: 'Are you sure?' } %>
				</p>
			<% end%>
		</li>
	<% end %>
</ul>
