
<!-- Workout.first.parts.first.wods -->

<% @workout.parts.each do |part| %>
	<% if part.style == 1 %> <!-- WOD -->
		<h3><%= part.wods.first.title %></h3>
		<% part.wods.first.scores.each do |score| %>
			<p><strong><%= score.user.email %>: <%= score.result %> </p>
		<% end %>
	<% else %> <!-- LIFT -->
	<h3><%= part.lifts.first.title %> </h3>
		<% part.lifts.first.scores.each do |score| %>
			<p><strong><%= score.user.email %>: <%= score.result %> </p>
		<% end %>
	<% end %>
<% end %>
	
