
<% @workout.parts.each do |part| %>
	<% if part.style == 1 %> <!-- WOD -->
		<h3><%= part.wods.first.title %></h3>
		<% if part.wods.first.scores.first == nil %>
			<p> No scores reported </p>
		<% else %>
			<% part.wods.first.scores.each do |score| %>
				<p><strong>
					<% if score.user.username != nil %>
						<%= score.user.username %>: 
					<% else %>
						<%= score.user.email %>: 
					<% end %>
					</strong><%= score.result %> </p>
			<% end %>
		<% end %>
	<% elsif part.style == 2 %> <!-- LIFT -->
		<h3><%= part.lifts.first.category.name %> </h3>
		<% if part.wods.first.scores.first == nil %>
			<p> No scores reported </p>
		<% else %>
			<% part.lifts.first.scores.each do |score| %>
				<p><strong>
					<% if score.user.username != nil %>
						<%= score.user.username %>: 
					<% else %>
						<%= score.user.email %>: 
					<% end %>
					</strong><%= score.result %> </p>
			<% end %>
		<% end %>
	<% else %> <!-- No Part Style (mess up) -->
	<% end %>
<% end %>
	
