<p>
  <strong>Title:</strong>
  <%= @workout.title %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @workout.admin.email %>
</p>
<br/>

<%= simple_form_for([@workout, @workout.parts.build]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <p> <em> Select type of workout: </em></p>
    <%= f.collection_radio_buttons :style, [[1, 'WOD'] ,[2, 'Olympic Lift']], :first, :last %>
    <%= f.association :workout, :as => :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
<br/>

<% @n = 1 %>
<% @workout.parts.each do |part| %>
  <% if part.style != nil %>
    <h3> Part <%= @n %>: </h3>
    <% if part.style == 1 %>  <!-- WOD STYLE PART -->
      <% part.wods.each do |wod| %>
        <%= wod.title %><br/>
        <%= wod.description %><br/>
        <%= wod.result_label %><br/>
      <% end %>
    <% elsif part.style == 2 %>  <!-- LIFT STYLE PART -->
      <% part.lifts.each do |lift| %>
        <%= lift.style %><br/>
        <%= lift.description %><br/>
        <%= lift.rep_count %><br/>
      <% end %>
    <% end %>
    <% @n += 1 %>
  <% end %>
<% end %>


<br/>
<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>
