<h1><%= @workout.title %></h1>
<p class = "date">Workout <%= RomanNumerals.to_roman(@workout.id)%> | <%= @workout.created_at.to_formatted_s(:my_long_ordinal) %> </p>


<% if admin_signed_in? %>
  <%= simple_form_for([@workout, @workout.parts.build]) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <p> <em> Select type of workout: </em></p>
      <%= f.collection_radio_buttons :style, [[1, 'WOD'] ,[2, 'Olympic Lift']], :first, :last %>
      <%= f.association :workout, :as => :hidden %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
  <br/>
<% end %>


<% @n = 1 %>
<% @workout.parts.each do |part| %>

  <% if part.style != nil %>
    <h3> Part <%= @n %>: </h3>

    <!-- WOD STYLE WORKOUT -->
    <% if part.style == 1 %>  
      <% part.wods.each do |wod| %>
        <%= wod.title %><br/>
        <%= wod.description %><br/>
        <%= wod.result_label %><br/>
        <% @my_wod_id = wod.id %>

        <br/>


        <!-- IF USER SIGNED IN -->
        <% if user_signed_in? %>
          <% if current_user.scores.where(:wod_id => @my_wod_id).blank? %>

            <!-- START SCORE FORM -->
            <%= simple_form_for([wod, wod.scores.build]) do |f| %>
              <%= f.error_notification %>

              <div class="form-inputs">
                <%= f.input :result %>
                <%= f.association :user, :as => :hidden, input_html: { value: current_user.id }%>
                <%= f.association :lift, :as => :hidden %>
                <%= f.association :wod, :as => :hidden %>
              </div>

              <div class="form-actions">
                <%= f.button :submit %>
              </div>
            <% end %>
            <!-- End Score Form -->

            <% else %> <!-- DISPLAY EXISTING SCORE -->
              <% @my_wod_score = current_user.scores.where(:wod_id => @my_wod_id).first %>
                <p class ="result"> Result: <%= @my_wod_score.result %> </p>
                <p class = "edit-result">
                  <%= link_to 'Edit Score', edit_score_path(@my_wod_score) %> | <%= link_to 'Delete Score', @my_wod_score, method: :delete, data: { confirm: 'Are you sure?' } %>
                </p>
            <% end %>
        <% end %>


      <% end %>

    <% elsif part.style == 2 %>  <!-- LIFT STYLE PART -->
      
      <% part.lifts.each do |lift| %>
        <%= lift.style %><br/>
        <%= lift.description %><br/>
        <%= lift.rep_count %><br/>
        <% @my_lift_id = lift.id %>
        <br/>

        <!-- IF USER SIGNED IN -->
        <% if user_signed_in? %>

        <% if current_user.scores.where(:lift_id => @my_lift_id).blank? %>

          <%= simple_form_for([lift, lift.scores.build]) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <%= f.input :result %>
              <%= f.association :user, :as => :hidden, input_html: { value: current_user.id }%>
              <%= f.association :lift, :as => :hidden %>
              <%= f.association :wod, :as => :hidden %>
            </div>

            <div class="form-actions">
              <%= f.button :submit %>
            </div>
          <% end %> <!-- End Score Form -->

          <% else %> <!-- DISPLAY EXISTING SCORE -->
              <% @my_lift_score = current_user.scores.where(:lift_id => @my_lift_id).first %>
                <p class ="result"> Result: <%= @my_lift_score.result %> </p>
                <p class = "edit-result">
                  <%= link_to 'Edit Score', edit_score_path(@my_lift_score) %> | <%= link_to 'Delete Score', @my_lift_score, method: :delete, data: { confirm: 'Are you sure?' } %>
                </p>
            <% end %>

        <% end %>
      <% end %>
    <% end %>

    
    <% @n += 1 %>
  <% end %>
<% end %>


<br/>
<% if admin_signed_in? %>
<%= link_to 'Edit Workout', edit_workout_path(@workout) %> |
<% end %>
<%= link_to 'Back', workouts_path %>

<br/>
<br/>
