<script>
$(document).ready(function(){
    $("#note-button").click(function(){
        $("#note-field").toggle();
    });
});
</script>


<% if admin_signed_in? || user_signed_in? %>
<div class = "row">
  <div class = "small-11 medium-8 small-centered columns instance">
    <h1><%= @workout.title %></h1>
    <p class = "date"><%= @workout.workout_date.to_formatted_s(:my_long_ordinal) %> </p>

    <%= button_to "Leaderboard", [:leaderboard, @workout], :class => "button round tiny", :method => :get  %>
    <% if admin_signed_in? %>
      <p class = "edit-result">
        <%= link_to 'Edit Name/Date', edit_workout_path(@workout) %>
      </p>
    <% end %>
  </div>


    <% if admin_signed_in? %>
      <div class = "small-11 medium-8 small-centered columns instance">
    <h3> Create New Part: </h3> <br/>
    <%= simple_form_for([@workout, @workout.parts.build]) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <p> <em> Select style of exercise: </em></p>
      <%= f.collection_radio_buttons :style, [[1, 'WOD'] ,[2, 'Olympic Lift']], :first, :last, required: true %>
      <%= f.association :workout, :as => :hidden %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
    <% end %>
    <br/>
    </div>
  <% end %>

  <% @workout.parts.reverse.each do |part| %>
        <% if part.wods.first || part.lifts.first != nil %>
    <div class = "small-11 medium-8 small-centered columns instance">

      <!-- Here -->

      <!-- WOD STYLE WORKOUT -->
      <% if part.style == 1 %>  

      <h3> Conditioning: </h3>

      <% part.wods.each do |wod| %>
      <div class = "show-part-details">
        <p class = "title"><%= wod.title %></p>
        <p class = "description"><%= simple_format(wod.description) %></p>
        <!-- <p class = "result-label">Record <%= wod.result_label %></p> -->
        <% @my_wod_id = wod.id %>
        <br/>
        <% if current_user %>
        <p class = "previous">
          <% if wod.previous_wod != nil %>
            <% @p_wod = Wod.find_by(:id => wod.previous_wod) %>
            Comparison: <%= @p_wod.part.workout.workout_date.to_formatted_s(:my_short_ordinal) %> <%= link_to "(View)", @p_wod.part.workout %><br/>
            <% if current_user.scores.find_by(:wod_id => @p_wod) != nil %>
              Previous score: <%= current_user.scores.find_by(:wod_id => @p_wod).result %><% if current_user.scores.find_by(:wod_id => @p_wod).rx %> <i class="fa fa-registered"></i> <%end%><br/>
              Personal note: <%= current_user.scores.find_by(:wod_id => @p_wod).note %>
            <% else %>
              Previous score: not reported
            <% end %>
          <% end %>
          <% end %>
        </p>
      </div>



      <!-- IF USER SIGNED IN -->
      <% if user_signed_in? %>
      <% if current_user.scores.where(:wod_id => @my_wod_id).blank? %>

      <!-- START SCORE FORM -->
      <%= simple_form_for([wod, wod.scores.build]) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :result %>
        <%= f.input :rx, inline_label: 'Rx' %>
        <br/>
        <div id = "note-button">
          <i class="fa fa-plus"></i> Add Personal Note
        </div>
        <div id="note-field" style="display:none">
          <%= f.input :note, label: 'Private Note:' %>
        </div>
        <br/>
        <%= f.association :user, :as => :hidden, input_html: { value: current_user.id }%>
        <%= f.association :lift, :as => :hidden %>
        <%= f.association :wod, :as => :hidden %>
      </div>

      <div class="form-actions">
        <%= f.button :submit %>
      </div>
      <% end %>
      <!-- End Score Form -->

      <% else %> <!-- DISPLAY EXISTING SCORE -->
      <% @my_wod_score = current_user.scores.where(:wod_id => @my_wod_id).first %>
      <p class ="result"> Result: <%= @my_wod_score.result %> <% if @my_wod_score.rx %> <i class="fa fa-registered"></i> <%end%></p>
      <% if @my_wod_score.note? %>
        <br/>
        <p class = "result"> 
          Personal Note: <br/> 
          <i><%= @my_wod_score.note %> </i>
        </p>
        <br/>
      <% end %>
      <p class = "edit-result">
        <%= link_to 'Edit Score', edit_score_path(@my_wod_score) %> | <%= link_to 'Delete Score', @my_wod_score, method: :delete, data: { confirm: 'Are you sure?' } %>
      </p>
      <% end %>

      <% elsif admin_signed_in? %>
      <p class = "edit-result">
        <%= link_to 'Edit Part', edit_wod_path(wod) %> | 
        <%= link_to 'Delete Part', part, method: :delete, data: { confirm: 'Are you sure?' } %>
      </p>
      <% end %>


      <% end %>

      <% elsif part.style == 2 %>  <!-- LIFT STYLE PART -->

      <h3> Olympic Lift: </h3>
      <% part.lifts.each do |lift| %>
      <div class = "show-part-details">
        <p class = "title"><%= lift.category.name %> (<%=lift.rep_count %> rep<% if lift.max %> max<%end%>)</p>
        <% if lift.summary != nil %>
          <p class = "description"> <%= simple_format(lift.summary) %> </p>
        <% else %>
          <p class = "description"><%= lift.timing %></p>
          <p class = "description"><%= lift.description %></p>
        <% end %>
        <!-- <p class = "rep-count"><%= lift.rep_count %></p> -->
        <% @my_lift_id = lift.id %>
        <p class = "previous">
          <% if current_user %>
        <% if lift.previous_lift != nil %>
          <% @p_lift = Lift.find_by(:id => lift.previous_lift) %>
          Comparison: <%= @p_lift.part.workout.workout_date.to_formatted_s(:my_short_ordinal) %> <%= link_to "(View)", @p_lift.part.workout %><br/>
          <% if current_user.scores.find_by(:lift_id => @p_lift) != nil %>
            Previous score: <%= current_user.scores.find_by(:lift_id => @p_lift).result %><% if current_user.scores.find_by(:lift_id => @p_lift).rx %> <i class="fa fa-registered"></i> <%end%><br/>
            Personal note: <%= current_user.scores.find_by(:lift_id => @p_lift).note %>
          <% else %>
            Previous score: not reported
          <% end %>
        <% end %>
        <% end %>
        </p>




      </div>

      <!-- IF USER SIGNED IN -->
      <% if user_signed_in? %>

      <!-- IF NO SCORE -->
      <% if current_user.scores.where(:lift_id => @my_lift_id).blank? %>

      <%= simple_form_for([lift, lift.scores.build]) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :result %>
        <br/>
        <div id = "note-button">
          <i class="fa fa-plus"></i> Add Personal Note
        </div>
        <div id="note-field" style="display:none">
          <%= f.input :note, label: 'Private Note:' %>
        </div>
        <br/>
        <%= f.association :user, :as => :hidden, input_html: { value: current_user.id }%>
        <%= f.association :lift, :as => :hidden %>
        <%= f.association :wod, :as => :hidden %>
      </div>

      <div class="form-actions">
        <%= f.button :submit %>
      </div>
      <% end %> <!-- End Score Form -->

      <% else %> <!-- DISPLAY EXISTING SCORE -->
      <% @my_lift_score = current_user.scores.where(:lift_id => @my_lift_id).first %>
      <p class ="result"> Result: <%= @my_lift_score.result %> </p>
            <% if @my_lift_score.note? %>
        <br/>
        <p class = "result"> 
          Personal Note: <br/> 
          <i><%= @my_lift_score.note %> </i>
        </p>
        <br/>
      <% end %>
      <p class = "edit-result">
        <%= link_to 'Edit Score', edit_score_path(@my_lift_score) %> | <%= link_to 'Delete Score', @my_lift_score, method: :delete, data: { confirm: 'Are you sure?' } %>
      </p>
      <% end %>
      <!-- END SCORE SECTION -->

      <% elsif admin_signed_in? %>
      <p class = "edit-result">
        <%= link_to 'Edit Part', edit_lift_path(lift) %> | 
        <%= link_to 'Delete Part', part, method: :delete, data: { confirm: 'Are you sure?' } %>
      </p>

      <% end %>
      <!-- END IF USER SIGNED IN -->
      <% end %>
      <!-- END TYPE FOR PART SECTION -->
      <% end %>
      <!-- END IF PART STYLE != 0 -->

    </div>
    <% end %>
  <% end %>
      <br/>
      <br/>
      <br/>
</div>
<% else %>
  <div class = "small-11 medium-8 small-centered columns instance">
    <p> Please <u><%= link_to('login', new_user_session_path)  %></u> to view the workout </p>

  </div>
<% end %>

