<h3> Add New WOD </h3>
<%= simple_form_for([@part, @part.wods.build]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
	<%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :result_label %>
    <%= f.association :part, :as => :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
<br/><br/><br/>

<h3> Add New Lift </h3>
<%= simple_form_for([@part, @part.lifts.build]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :style %>
    <%= f.input :description %>
    <%= f.input :rep_count %>
    <%= f.association :part, :as => :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


