<%= simple_form_for([@lift]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :lift_date, as: :date, html5: true, :input_html => { :value => Date.today} %>

    <%= f.association :category, :as => :hidden, input_html: { value: @category.id } %>

    <%= f.input :rep_count, collection: 1..5 %>
    <%= f.input :max, inline_label: 'This is a max style lift' %>
    <%= f.fields_for :scores do |s| %>
      <%= s.input :result %>
      <%= s.association :user, :as => :hidden, input_html: { value: current_user.id }%>
    <% end %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
