<%= simple_form_for(@lift) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :category %>
    <%= f.input :timing %>
    <%= f.input :description %>
    <%= f.input :rep_count %>
    <%= f.input :max, inline_label: 'This is a max style lift' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
