<script>
$(document).ready(function(){
    $("#note-button").click(function(){
        $("#note-field").toggle();
    });
});
</script>


<%= simple_form_for([@lift]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :lift_date, as: :date, html5: true, :input_html => { :value => Date.today} %>

    <%= f.association :category, :as => :hidden, input_html: { value: @category.id } %>

    <%= f.input :rep_count, collection: 1..5 %>
    <%= f.input :max, inline_label: 'This is a max style lift' %>
    <% if current_user != nil %>
      <%= f.fields_for :scores do |s| %>
        <%= s.input :result %>
        <br/>
          <div id = "note-button">
            <i class="fa fa-plus"></i> Add Personal Note
          </div>
          <div id="note-field" style="display:none">
            <%= s.input :note, label: 'Private Note:' %>
          </div>
          <br/>
        <%= s.association :user, :as => :hidden, input_html: { value: current_user.id }%>
      <% end %>
    <% end %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
