<p id="notice"><%= notice %></p>

<% if @lifts.first != nil %>
  <h1><%= @lifts.first.category.name %></h1>
  <p> *Denotes max effort lift </p>
<% else %>
  <h4> You do not have any recorded scores for this lift </h4>
<% end %>



<% if @lifts.first != nil %>

    <!-- TABLE FOR Most Recent Lifts -->
  <table>
    <h4 class ="color-red"> Most Recent Scores </h4>
    <thead>
      <tr>
        <th>Date</th>
        <th>Reps</th>
        <th>Weight</th>
        <th>Workout</th>
      </tr>
    </thead>
    <% @lifts.last(3).each do |lift| %>
        <% lift.scores.each do |score| %>
          <% if score.user_id == current_user.id %>
          <tr>
            <td><%= score.lift.part.workout.workout_date.to_formatted_s(:my_long_ordinal) %> </td> 
            <td><%= lift.rep_count %></td>
            <td><%= score.result %><% if lift.max? %>*<%end%> </td>
            <td><%= link_to 'View Workout', score.lift.part.workout %> </td>
          </tr>
          <% end %>
        <% end%>
    <% end %>
  </table>

  <!-- TABLE FOR 1 REP MAX -->
  <table>
    <h4> 1 Rep Scores </h4>
    <thead>
      <tr>
        <th>Date</th>
        <th>Weight</th>
        <th>Workout</th>
      </tr>
    </thead>
    <% @lifts.each do |lift| %>
      <% if lift.rep_count == 1 %>
        <% lift.scores.each do |score| %>
          <% if score.user_id == current_user.id %>
          <tr>
            <td><%= score.lift.part.workout.workout_date.to_formatted_s(:my_long_ordinal) %> </td> 
            <td><%= score.result %><% if lift.max? %>*<%end%> </td>
            <td><%= link_to 'View Workout', score.lift.part.workout %> </td>
          </tr>
          <% end %>
        <% end%>
      <% end %>
    <% end %>
  </table>
  <br/>

  <!-- TABLE FOR 2 REP MAX -->
  <table>
    <h4> 2 Rep Scores </h4>
    <thead>
      <tr>
        <th>Date</th>
        <th>Weight</th>
        <th>Workout</th>
      </tr>
    </thead>
    <% @lifts.each do |lift| %>
      <% if lift.rep_count == 2 %>
        <% lift.scores.each do |score| %>
          <% if score.user_id == current_user.id %>
          <tr>
            <td><%= score.lift.part.workout.workout_date.to_formatted_s(:my_long_ordinal) %> </td> 
            <td><%= score.result %><% if lift.max? %>*<%end%> </td>
            <td><%= link_to 'View Workout', score.lift.part.workout %> </td>
          </tr>
          <% end %>
        <% end%>
      <% end %>
    <% end %>
  </table>
<br/>
  <!-- TABLE FOR 3 REP MAX -->
  <table>
    <h4> 3 Rep Scores </h4>
    <thead>
      <tr>
        <th>Date</th>
        <th>Weight</th>
        <th>Workout</th>
      </tr>
    </thead>
    <% @lifts.each do |lift| %>
      <% if lift.rep_count == 3 %>
        <% lift.scores.each do |score| %>
          <% if score.user_id == current_user.id %>
          <tr>
            <td><%= score.lift.part.workout.workout_date.to_formatted_s(:my_long_ordinal) %> </td> 
            <td><%= score.result %><% if lift.max? %>*<%end%> </td>
            <td><%= link_to 'View Workout', score.lift.part.workout %> </td>
          </tr>
          <% end %>
        <% end%>
      <% end %>
    <% end %>
  </table>
  <br/>
    <!-- TABLE FOR 4 REP MAX -->
  <table>
    <h4> 4 Rep Scores </h4>
    <thead>
      <tr>
        <th>Date</th>
        <th>Weight</th>
        <th>Workout</th>
      </tr>
    </thead>
    <% @lifts.each do |lift| %>
      <% if lift.rep_count == 4 %>
        <% lift.scores.each do |score| %>
          <% if score.user_id == current_user.id %>
          <tr>
            <td><%= score.lift.part.workout.workout_date.to_formatted_s(:my_long_ordinal) %> </td> 
            <td><%= score.result %><% if lift.max? %>*<%end%> </td>
            <td><%= link_to 'View Workout', score.lift.part.workout %> </td>
          </tr>
          <% end %>
        <% end%>
      <% end %>
    <% end %>
  </table>
  <br/>
    <!-- TABLE FOR 5 REP MAX -->
  <table>
    <h4> 5 Rep Scores </h4>
    <thead>
      <tr>
        <th>Date</th>
        <th>Weight</th>
        <th>Workout</th>
      </tr>
    </thead>
    <% @lifts.each do |lift| %>
      <% if lift.rep_count == 5 %>
        <% lift.scores.each do |score| %>
          <% if score.user_id == current_user.id %>
          <tr>
            <td><%= score.lift.part.workout.workout_date.to_formatted_s(:my_long_ordinal) %> </td> 
            <td><%= score.result %><% if lift.max? %>*<%end%> </td>
            <td><%= link_to 'View Workout', score.lift.part.workout %> </td>
          </tr>
          <% end %>
        <% end%>
      <% end %>
    <% end %>
  </table>
<br/>
<% end %>

<br>
