<p id="notice"><%= notice %></p>

<p>
  <strong>Style:</strong>
  <%= @lift.style %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lift.description %>
</p>

<p>
  <strong>Rep count:</strong>
  <%= @lift.rep_count %>
</p>

<p>
  <strong>Part:</strong>
  <%= @lift.part %>
</p>
