<p id="notice"><%= notice %></p>

<p>
  <strong>Style:</strong>
  <%= @lift.style %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lift.description %>
</p>

<p>
  <strong>Rep count:</strong>
  <%= @lift.rep_count %>
</p>

<p>
  <strong>Part:</strong>
  <%= @lift.part %>
</p>

<%= link_to 'Edit', edit_lift_path(@lift) %> |
<%= link_to 'Back', lifts_path %>
