<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @lift.type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lift.description %>
</p>

<p>
  <strong>Rep count:</strong>
  <%= @lift.rep_count %>
</p>

<p>
  <strong>Workout:</strong>
  <%= @lift.workout %>
</p>

<%= link_to 'Edit', edit_lift_path(@lift) %> |
<%= link_to 'Back', lifts_path %>
