<%= simple_form_for(@wod) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :description %>
    <%= f.input :result_label %>
    <%= f.association :workout %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
