<p id="notice"><%= notice %></p>

<p>
  <strong>Result:</strong>
  <%= @score.result %>
</p>

<p>
  <strong>User:</strong>
  <%= @score.user %>
</p>

<p>
  <strong>Lift:</strong>
  <%= @score.lift %>
</p>

<p>
  <strong>Wod:</strong>
  <%= @score.wod %>
</p>

<%= link_to 'Edit', edit_score_path(@score) %> |
<%= link_to 'Back', scores_path %>
