<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "vendor/modernizr" %>
	<%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>

<body>
	<div class="off-canvas-wrap fixed" data-offcanvas>
		<div class="inner-wrap">
			<p class = "notice" id="notice"><%= notice %></p>
			<p class = "id" id="alert"><%= alert %></p>

			<section class="main-section">
				<div class = "heading">
					<div class = "small-6 medium-9 columns">
						<div class = "logo">
							<a href="/">
								<%= image_tag "brandclub_logo.png" %>
							</a>
						</div>
					</div>
					<div class = "small-6 medium-3 columns devise_links text-right fixed">
						<% if user_signed_in? %>
							<%= link_to('User Logout', destroy_user_session_path, :method => :delete) %>        
						<% else %>
							<%= link_to('User Login', new_user_session_path)  %>  
						<% end %>
						| 
						<% if admin_signed_in? %>
							<%= link_to('Admin Logout', destroy_admin_session_path, :method => :delete) %>        
						<% else %>
							<%= link_to('Admin Login', new_admin_session_path)  %>  
						<% end %>
					</div>
				</div>

				<div class = "row">
					<%= yield %>
				</div>
			</section>
		</div>
	</div>

</body>
</html>
