<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>#GainzProject</title>

	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "vendor/modernizr" %>
	<%= javascript_include_tag "application", 'data-turbolinks-track' => true %>

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="apple-touch-fullscreen" content="yes">



    <%= favicon_link_tag 'favicon.ico' %>
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png" />
    
	<%= csrf_meta_tags %>

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body>
	<div class="off-canvas-wrap fixed" data-offcanvas>
		<div class="inner-wrap">
			<!-- MOBILE NAV BAR -->
<!-- 			<div class = "heading fixed zFront sticky">
				<div class = "small-6 small-centered columns text-center">
					<%= link_to image_tag('Gainz_logo.png'), root_url %>
				</div>
			</div> -->
			<div class = "fixed heading" id="fixed-nav">
				<nav class="tab-bar" data-options="is_hover: false">
									<div class = "small-6 small-centered columns text-center">
					<%= link_to image_tag('logo.png'), root_url %>
				</div>
					<section class="right-small">
						<a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
					</section>
					<% if (current_page?('/workouts')) %>
					<% elsif current_page?(root_url) %>
					<% else %>
						<section class = "left-small">
							<i class="fa fa-arrow-left fa-2x" onclick="goBack()"></i>
						</section>
					<% end %>
				</nav>
			</div>
			<div class = "heading-push"></div>

			<!-- MOBILE NAVIGATION OFFCANVAS LIST -->
			<aside class="right-off-canvas-menu" aria-hidden="true">
				<%= render 'off_canvas_nav' %>
			</aside>
			<!-- END MOBILE NAV OFFCANVAS -->


			<section class="main-section">
			
				<div class = "row layout-row">
				    <!-- <%= render 'application/alerts' %> -->
					<%= yield %>
				</div>
      		</section> <!-- END MAIN SECTION -->
            <a class="exit-off-canvas"></a>
    </div> <!-- INNER WRAP -->
  </div> <!-- OFF CANVAS WRAP -->

</body>
</html>
